<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <div class="header">
        <span class="first-column">
        <div class="person-name">Artjoms Petrovs</div>
        <div class="person-description">
            It's a me! Artjoms!
        </div>
        </span>
        <span>
            <img src="artjoms.jpg" class="person-photo" width="100" />
        </span>
    </div>

<div class="project-list">

    <!--    Single project  -->
    <div class="project-container">
        <div class="project-image">
            <img src="project1.jpg" width="50" />
        </div>
        <div class="project-name" >
            Lesson 1
        </div>
        <div class="project-description" >
            What we have learned during lesson 1
        </div>
    </div>

    <!--    Single project  -->
    <div class="project-container">
        <div class="project-image">
            <img src="project1.jpg" width="50" />
        </div>
        <div class="project-name" >
            Lesson 2
        </div>
        <div class="project-description" >
            What we have learned during lesson 2
        </div>
    </div>

    <!--    Single project  -->
    <div class="project-container">
        <div class="project-image">
            <img src="project1.jpg" width="50" />
        </div>
        <div class="project-name" >
            Lesson 3
        </div>
        <div class="project-description" >
            What we have learned during lesson 3
        </div>
    </div>

    <!--    Single project  -->
    <div class="project-container">
        <div class="project-image">
            <img src="project1.jpg" width="50" />
        </div>
        <div class="project-name" >
            Lesson 4
        </div>
        <div class="project-description" >
            What we have learned during lesson 4
        </div>
    </div>

    <!--    Single project  -->
    <div class="project-container">
        <div class="project-image">
            <img src="project1.jpg" width="50" />
        </div>
        <div class="project-name" >
            Lesson 5
        </div>
        <div class="project-description" >
            What we have learned during lesson 5
        </div>
    </div>

    <!--    Single project  -->
    <div class="project-container">
        <div class="project-image">
            <img src="project1.jpg" width="50" />
        </div>
        <div class="project-name" >
            Lesson 6
        </div>
        <div class="project-description" >
            What we have learned during lesson 6
        </div>
    </div>

    <!--    Single project  -->
    <div class="project-container">
        <div class="project-image">
            <img src="project1.jpg" width="50" />
        </div>
        <div class="project-name" >
            Lesson 7
        </div>
        <div class="project-description" >
            What we have learned during lesson 7
        </div>
    </div>

    <!--    Single project  -->
    <div class="project-container">
        <div class="project-image">
            <img src="project1.jpg" width="50" />
        </div>
        <div class="project-name" >
            Lesson 8
        </div>
        <div class="project-description" >
            What we have learned during lesson 8
        </div>
    </div>

</div>

<div class="footer">
    <div class="first-column">
        She Goes JAVA2
    </div>
    <div>
        <a class="external-link" href="https://github.com/artjoman/portfolio_java"> Link to my Portfolio</a>
    </div>
</div>

</body>

</html>